<launch>

  <arg name="robot_type" />
  <arg name="num_cameras" />
  <arg name="gp" />
  <arg name="lp" />
  <arg name="task" />
  <arg name="resolution" />

  <!-- ##################################################################### -->
  <!-- turtlebot specific -->
  <!-- ##################################################################### -->
  <arg name="robot_radius"                value="0.175"                                       if="$(eval robot_type == 'turtlebot')"/>
  <arg name="robot_height"                value="1.80"                                        if="$(eval robot_type == 'turtlebot')"/>
  <arg name="odom_topic"                  value="odom"                                        if="$(eval robot_type == 'turtlebot')"/>
  <arg name="scan_topic"                  value="scan"                                        if="$(eval robot_type == 'turtlebot')"/>
  <arg name="laser_frame"                 value="base_laser_link"                             if="$(eval robot_type == 'turtlebot')"/>
  <arg name="laser_range"                 value="20.0"                                        if="$(eval robot_type == 'turtlebot')"/>
  <arg name="cmd_vel_topic"               value="navigation_velocity_smoother/raw_cmd_vel"    if="$(eval robot_type == 'turtlebot')"/>

  <!-- front_rgbd_camera_depth_optical_frame->base_link->base_footprint -->
  <arg name="obstacle_front_rgbd_camera_z"      value="0.32"                                  if="$(eval arg('robot_type') == 'turtlebot')"/>
  <arg name="obstacle_front_rgbd_camera_topic"  value="front_rgbd_camera/depth/points"        if="$(eval arg('robot_type') == 'turtlebot')"/>
  <arg name="obstacle_front_rgbd_camera_frame"  value="front_rgbd_camera_depth_optical_frame" if="$(eval arg('robot_type') == 'turtlebot')"/>

  <include file="$(find relief_turtlebot_navigation)/launch/includes/velocity_smoother.launch.xml" if="$(eval robot_type == 'turtlebot')"/>
  <include file="$(find relief_turtlebot_navigation)/launch/includes/safety_controller.launch.xml" if="$(eval robot_type == 'turtlebot')"/>


  <!-- ##################################################################### -->
  <!-- rb1 specific -->
  <!-- ##################################################################### -->
  <arg name="robot_radius"                value="0.25"                                        if="$(eval robot_type == 'rb1')"/>
  <arg name="robot_height"                value="2.00"                                        if="$(eval robot_type == 'rb1')"/>
  <arg name="odom_topic"                  value="robotnik_base_control/odom"                  if="$(eval robot_type == 'rb1')"/>
  <arg name="scan_topic"                  value="front_laser/scan"                            if="$(eval robot_type == 'rb1')"/>
  <arg name="laser_frame"                 value="front_laser_link"                            if="$(eval robot_type == 'rb1')"/>
  <arg name="laser_range"                 value="30.0"                                        if="$(eval robot_type == 'rb1')"/>
  <arg name="cmd_vel_topic"               value="move_base/cmd_vel"                           if="$(eval robot_type == 'rb1')"/>

  <!-- front_rgbd_camera_depth_optical_frame->base_link->base_footprint -->
  <arg name="obstacle_front_rgbd_camera_z"      value="0.132"                                 if="$(eval robot_type == 'rb1')"/>
  <arg name="obstacle_front_rgbd_camera_topic"  value="front_rgbd_camera/depth/points"        if="$(eval robot_type == 'rb1')"/>
  <arg name="obstacle_front_rgbd_camera_frame"  value="front_rgbd_camera_depth_optical_frame" if="$(eval robot_type == 'rb1')"/>




  <!-- ##################################################################### -->
  <!-- move base launcher -->
  <!-- ##################################################################### -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <!-- Costmap params: common, global, and local -->
    <rosparam file="$(find relief_devel)/configuration_files/common/costmap_params/costmap_common_params.yaml"                                             command="load" ns="global_costmap" />
    <rosparam file="$(find relief_devel)/configuration_files/common/costmap_params/costmap_common_params.yaml"                                             command="load" ns="local_costmap" />
    <rosparam file="$(find relief_devel)/configuration_files/common/costmap_params/global_costmap_params.yaml"                                             command="load" />
    <rosparam file="$(find relief_devel)/configuration_files/common/costmap_params/local_costmap_params.yaml"                                              command="load" />

    <!-- move_base params: common and task-related -->
    <rosparam file="$(find relief_devel)/configuration_files/common/move_base_params.yaml"                                                                 command="load" />
    <rosparam file="$(find relief_devel)/configuration_files/$(arg task)/$(arg task)_move_base_params/$(arg task)_global_costmap_params.yaml"              command="load" />

    <!-- global planner params -->
    <rosparam file="$(find relief_devel)/configuration_files/common/global_planners_params/$(arg gp)_global_planner_params.yaml"                           command="load" />

    <param name="base_global_planner" value="global_planner/GlobalPlanner"                                                                                 if="$(eval gp == 'globalplanner')" />
    <param name="base_global_planner" value="navfn/NavfnROS"                                                                                               if="$(eval gp == 'navfn')" />
    <param name="base_global_planner" value="SBPLLatticePlanner"                                                                                           if="$(eval gp == 'sbpl')" />
    <param name="SBPLLatticePlanner/primitive_filename" value="$(find relief_devel)/configuration_files/kinematics/uni_$(arg resolution).mprim"            if="$(eval gp == 'sbpl')" />

    <!-- local planner params -->
    <rosparam file="$(find relief_devel)/configuration_files/common/local_planners_params/$(arg lp)_local_planner_params.yaml"                             command="load" />

    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"                                                                               if="$(eval lp == 'dwa')" />
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"                                                                          if="$(eval lp == 'teb')" />
    <param name="base_local_planner" value="eband_local_planner/EBandPlannerROS"                                                                           if="$(eval lp == 'eband')" />


    <!-- Modify params according to robot_type -->
    <!-- Global costmap params -->
    <param name="global_costmap/resolution"                                                             value="$(arg resolution)"   />
    <param name="global_costmap/robot_radius"                                                           value="$(arg robot_radius)" />
    <param name="global_costmap/max_obstacle_height"                                                    value="$(arg robot_height)" />
    <param name="global_costmap/obstacle_layer/scan/sensor_frame"                                       value="$(arg laser_frame)"  />
    <param name="global_costmap/obstacle_layer/scan/topic"                                              value="$(arg scan_topic)"   />
    <param name="global_costmap/obstacle_layer/obstacle_range"                                          value="$(arg laser_range)"  />
    <param name="global_costmap/obstacle_layer/raytrace_range"                                          value="$(arg laser_range)"  />
    <param name="global_costmap/obstacle_layer/max_obstacle_height"                                     value="$(arg robot_height)"  />
    <param name="global_costmap/inflation_layer/inflation_radius"                                       value="$(arg robot_radius)" />

    <param name="global_costmap/front_vertical_obstacle_layer/max_obstacle_height"                      value="$(arg robot_height)" />
    <param name="global_costmap/front_vertical_obstacle_layer/front_rgbd_camera/sensor_frame"           value="$(arg obstacle_front_rgbd_camera_frame)" />
    <param name="global_costmap/front_vertical_obstacle_layer/front_rgbd_camera/topic"                  value="$(arg obstacle_front_rgbd_camera_topic)" />
    <param name="global_costmap/front_vertical_obstacle_layer/origin_z"                                 value="$(arg obstacle_front_rgbd_camera_z)" />
    <param name="global_costmap/front_vertical_obstacle_layer/front_rgbd_camera/min_obstacle_height"    value="$(arg obstacle_front_rgbd_camera_z)" />
    <param name="global_costmap/front_vertical_obstacle_layer/front_rgbd_camera/max_obstacle_height"    value="$(arg robot_height)" />

    <!-- Local costmap params -->
    <param name="local_costmap/resolution"                                                              value="$(arg resolution)"   />
    <param name="local_costmap/robot_radius"                                                            value="$(arg robot_radius)" />
    <param name="local_costmap/max_obstacle_height"                                                     value="$(arg robot_height)" />
    <param name="local_costmap/obstacle_layer/scan/sensor_frame"                                        value="$(arg laser_frame)"  />
    <param name="local_costmap/obstacle_layer/scan/topic"                                               value="$(arg scan_topic)"   />
    <param name="local_costmap/obstacle_layer/obstacle_range"                                           value="$(arg laser_range)"  />
    <param name="local_costmap/obstacle_layer/max_obstacle_height"                                      value="$(arg robot_height)"  />
    <param name="local_costmap/obstacle_layer/raytrace_range"                                           value="$(arg laser_range)"  />
    <param name="local_costmap/inflation_layer/inflation_radius"                                        value="$(arg robot_radius)" />

    <param name="local_costmap/front_vertical_obstacle_layer/max_obstacle_height"                       value="$(arg robot_height)" />
    <param name="local_costmap/front_vertical_obstacle_layer/front_rgbd_camera/sensor_frame"            value="$(arg obstacle_front_rgbd_camera_frame)" />
    <param name="local_costmap/front_vertical_obstacle_layer/front_rgbd_camera/topic"                   value="$(arg obstacle_front_rgbd_camera_topic)" />
    <param name="local_costmap/front_vertical_obstacle_layer/origin_z"                                  value="$(arg obstacle_front_rgbd_camera_z)" />
    <param name="local_costmap/front_vertical_obstacle_layer/front_rgbd_camera/min_obstacle_height"     value="$(arg obstacle_front_rgbd_camera_z)" />
    <param name="local_costmap/front_vertical_obstacle_layer/front_rgbd_camera/max_obstacle_height"     value="$(arg robot_height)" />


    <!-- teb_local_planner params -->
    <param name="TebLocalPlannerROS/odom_topic"                                     value="$(arg odom_topic)"/>
    <param name="TebLocalPlannerROS/footprint_model/radius"                         value="$(arg robot_radius)"/>
    <param name="TebLocalPlannerROS/inflation_dist"                                 value="0.01"/>


    <!-- Remap move_base input/output topics depeding to robot_type -->
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom"    to="$(arg odom_topic)"/>
    <remap from="scan"    to="$(arg scan_topic)"/>
  </node>

  <!-- Waypoint follower -->
  <include file="$(find relief_devel)/launch/navigation/follow_waypoints.launch"/>

</launch>
