<launch>

  <!-- Initial position -->
  <arg name="initial_pose_x" />
  <arg name="initial_pose_y" />
  <arg name="initial_pose_yaw" />
  <arg name="num_cameras" />


  <!-- Turtlebot urdf -->
  <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find relief_turtlebot_description)/robots/turtlebot_one_camera.urdf.xacro'"  if="$(eval num_cameras == 1)"/>
  <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find relief_turtlebot_description)/robots/turtlebot_two_cameras.urdf.xacro'" if="$(eval num_cameras == 2)"/>
  <param name="robot_description" command="$(arg urdf_file)" />

  <!-- Gazebo model spawner -->
  <node name="spawn_turtlebot_model" pkg="gazebo_ros" type="spawn_model"
        args="$(optenv ROBOT_INITIAL_POSE) -unpause -urdf -param robot_description -x $(arg initial_pose_x) -y $(arg initial_pose_y) -z 0 -R 0 -P 0 -Y $(arg initial_pose_yaw) -model mobile_base"/>

  <!-- Velocity muxer -->
  <node pkg="nodelet" type="nodelet" name="mobile_base_nodelet_manager" args="manager"/>
  <node pkg="nodelet" type="nodelet" name="cmd_vel_mux" args="load yocs_cmd_vel_mux/CmdVelMuxNodelet mobile_base_nodelet_manager">
    <param name="yaml_cfg_file" value="$(find relief_turtlebot_bringup)/param/mux.yaml" />
    <remap from="cmd_vel_mux/output" to="mobile_base/commands/velocity"/>
  </node>

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

</launch>
